.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vh;
  font-family: var(--font-inter), sans-serif;
}

.marketplaceContainer {
  margin-left: 160px;
  padding-top: 100px;
}

.header {
  display: flex;
  justify-content: left;
  padding: auto;
  margin-bottom: 10px;
  font-family: var(--font-inter), sans-serif;
}

.containerGrid {
  display: grid;
  grid-template-columns: repeat(3, 350px); /* 2 columns of 350px each */
  grid-template-rows: repeat(2, 350px); /* 3 rows of 350px each */
  gap: 50px; /* Gap between rectangles */
  justify-content: center;
  margin-top: 30px;
}

.rectangle {
  position: relative;
  border-radius: 6px; /* Rounded corners */
  border: 1px solid #ccc; /* Gray border */
  cursor: pointer;
  overflow: hidden;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.collectButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
}

/* Media Query for Mobile Devices (max-width: 767px) */
@media screen and (max-width: 767px) {
  .container {
    grid-template-columns: repeat(1, 350px); /* 1 column of 350px for mobile */
    grid-template-rows: repeat(6, 350px); /* 6 rows of 350px for mobile */
  }
}
