.navbar{
  width: 100vw;
  height: auto;
  background-color: #fff;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}